<div class="col-md-8 p-0">
    <div class="col-md-12 my-4">
        <div class="col-md-12 py-3 bg-warning text-dark text-uppercase font-weight-bold">
            Painel de controle
        </div>
        <div style="background-color: rgba(0,0,0,0.5);" class="text-light py-4">
            <div class="col-md-12 my-1">
                <a class="btn btn-primary w-100" href="/painel-de-controle/guildmark">
                    Guildmark
                </a>
            </div>
            <div class="col-md-12 my-1">
                <a class="btn btn-primary w-100" href="/painel-de-controle/alterar-senha">
                    Alterar senha
                </a>
            </div>
            <div class="col-md-12 my-1">
                <a class="btn btn-primary w-100" href="/painel-de-controle/suporte">
                    Suporte
                </a>
            </div>
            <div class="col-md-12 my-1">
                <a class="btn btn-primary w-100" href="/painel-de-controle/doacoes">
                    Doações
                </a>
            </div>
            <div class="col-md-12 my-1">
                <a class="btn btn-primary w-100" href="/painel-de-controle/sair">
                    Sair
                </a>
            </div>
        </div>
    </div>
</div>