<div class="col-md-8 p-0 m-0">
    <div class="col-md-12 my-2">
        <div class="col-md-12 py-3 bg-warning text-dark text-uppercase font-weight-bold">
            Painel de controle - doar
        </div>
        <div style="background-color: rgba(0,0,0,0.5);" class="text-light py-4 px-5">
            <form method="post" action="/painel-de-controle/criar-guia-do-jogo">
                <div class="form-group">
                    <input name="title" type="text" class="form-control" placeholder="Título">
                </div>
                <div class="form-group">
                    <input name="slug" type="text" class="form-control" placeholder="Slug">
                </div>
                <div class="form-group">
                    <textarea name="content"></textarea>
                </div>
                <input type="hidden" class="g-recaptcha-response" name="g-recaptcha-response">
                <input type="hidden" name="action" value="validate_captcha">
                <div class="form-group">
                    <button class="btn btn-primary">
                        Criar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>