<div class="col-md-8 p-0 m-0">
    <div class="col-md-12 my-2">
        <div class="col-md-12 py-3 bg-warning text-dark text-uppercase font-weight-bold">
            Painel de controle - suporte
        </div>
        <div style="background-color: rgba(0,0,0,0.5);" class="text-light py-4">
            Manutenção
        </div>
    </div>
</div>