<div class="col-md-8 p-0">
    <div class="col-md-12 my-4">
        <div class="col-md-12 py-3 bg-warning text-dark text-uppercase font-weight-bold">
            Painel de controle - cadastro
        </div>
        <div style="background-color: rgba(0,0,0,0.5);" class="text-light py-4 px-5">
            <form method="post" action="/register">
                <div class="form-group justify-content-center my-2">
                    <input class="form-control" type="text" name="name" placeholder="Nome">
                </div>
                <div class="form-group justify-content-center my-2">
                    <input class="form-control" type="text" name="username" placeholder="Usuário">
                </div>
                <div class="form-group justify-content-center my-2">
                    <input class="form-control" type="email" name="email" placeholder="E-mail">
                </div>
                <div class="input-group justify-content-center my-2">
                    <input class="form-control" type="password" name="password" placeholder="Senha">
                </div>
                <div class="input-group justify-content-center my-2">
                    <input class="form-control" type="password" name="confirm_password" placeholder="Confirmar senha">
                </div>
                <input type="hidden" class="g-recaptcha-response" name="g-recaptcha-response">
                <input type="hidden" name="action" value="validate_captcha">
                <div class="input-group justify-content-center my-2">
                    <button class="btn btn-warning">
                        Cadastrar
                    </button>
                </div>
                <div class="input-group justify-content-center mt-4">
                    <a class="btn btn-primary mx-1" href="/entrar">
                        Entrar no painel de controle
                    </a>
                    <a class="btn btn-danger mx-1" href="/recuperar-conta">
                        Esqueci minha conta
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>