<div class="inner footer">
    <div class="flex">
        <a href="/" class="logo">
            <img src="/public/template/images/logo-min.png" alt="">
        </a>
        <div class="list">
            <div class="ul">
                <div class="title">MENU</div>
                <ul data-list="list-1">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/ranking">Ranking</a>
                    </li>
                    <li>
                        <a href="/guia-do-jogo">Guia do Jogo</a>
                    </li>
                    <li>
                        <a href="/tickets">Suporte</a>
                    </li>
                    <li>
                        <a href="/donate">Doação</a>
                    </li>
                    <li>
                        <a href="/painel-de-controle">Painel de Controle</a>
                    </li>
                </ul>
            </div>
            <div class="ul">
                <div class="title">Suporte</div>
                <ul>
                    <li>
                        <a href="/faqs">FAQs</a>
                    </li>
                    <li>
                        <a href="/tickets">Tickets</a>
                    </li>
                    <li>
                        <a href="https://discord.gg/sAezuTKTtS" target="_blank">Canal Discord 24/7</a>
                    </li>
                    <li>
                        <a href="/regras">Regras</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="info">
            <div class="desc">© 2021 Spirit Destiny <a href="/">spirit-destiny.com</a></div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
<script>
    var currentDroplist = '';

    tinymce.init({
        selector: 'textarea',
        plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        toolbar_mode: 'floating',
    });

    function getDroplist() {
        const tableId =  $("#maps").val();
        if (currentDroplist !== '') {
            $('.' + currentDroplist).hide('slow');
        }
        
        $('.' + tableId).show('slow');
        currentDroplist = tableId;
    }

    $(document).ready(function() {
        $('#droplist').DataTable();
    });
</script>
<script>
    const url = window.location.href;

    moment.locale('pt-br');
    $('.message').delay(1 * 60 * 60).hide('slow');
    
    async function setrecaptcha() {
        grecaptcha.ready(function () {
            grecaptcha.execute("<%= recaptcha_site %>", {
                action: "validate_recaptcha"
            }).then(function (token) {
                if ($(".g-recaptcha-response").length) {
                    $.each($(".g-recaptcha-response"), (index, value) => {
                        value.value = token;
                    });
                }
            });
        });
    }

    async function getcurrency(number) {
        $('.currency');
        new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(number);
    }

    $(document).ready(async () => {
        await setrecaptcha();

        $('#add-like').on('click', async () => {
            //$.get('https://spirit-destiny.com/')
            const like = url.replace('/noticia/', '/likes/');

            $.ajax({
                method: 'GET',
                url: like,
                success: async (response) => {
                    if (response.status === 'success') {
                        const likes = $('#like-increment');
                        var i = parseInt(likes.text()) + 1;
                        likes.text(i.toString());
                    } else {
                        alert(response.message);
                    }
                },
            })
        });

    });
</script>

<%- include('../partials/date.ejs') %>