<!--
    <div class="little-news">
        <a href="/ranking-guilds" class="news child">
            <div class="frame">
                <img src="public/template/images/img-2.png" alt="">
            </div>
            <div class="title">
                Guilds
            </div>
            <div class="desc">Ranking de guilds</div>
        </a>
        <a href="/ranking-players" onclick="return false;" class="news">
            <div class="frame">
                <img src="public/template/images/img-3.png" alt="">
            </div>
            <div class="title">
                Campeonatos
            </div>
            <div class="desc">Ranking de campeonatos</div>
        </a>
    </div>
-->
<div class="news-box col-md-12 mb-2">
    <div class="big-news">
        <a href="#" class="news">
            <div class="frame">
                <img src="/public/template/images/img-1.png" alt="">
            </div>
            <div class="title">
                Spirit Destiny - Closed Beta
            </div>
            <div class="text">
                Estamos em modo closed beta, <br> em breve estaremos liberando uma versão open beta! <br> Para que possa participar do closed beta, envie mensagem a nós via discord!
            </div>
            <div class="desc">
                <div class="all-button-2">Leia mais</div>
            </div>
        </a>
    </div>
</div>
