<!DOCTYPE html>
<html lang="pt">
    <head>
        <%- include('../partials/head.ejs'); %>
    </head>
    <body class="theme-light">
        <div class="login-wrapper">
            <div class="d-flex justify-content-center mt-5">
                <div class="card" id="forget-card">
                    <div class="col-md-6 mx-auto">
                        <div class="card-body logo text-center">
                            <h3>
                                <img class="w-75" src="public/assets/images/brand.png" alt="">
                            </h3>
                        </div>
                        <%- include('../partials/messages.ejs'); %>
                        <div id="forms" class="card-body">
                            <%- include(`home/${layout}`); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/scripts'); %>
    </body>
</html>