<div class="col-md-8 grid-margin stretch-card change-password">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between border-bottom">
                Alteração de senha
            </div>
            <div class="d-flex flex-row justify-content-center my-2 text-center">
                <form method="POST" enctype="multipart/form-data" action="/changepassword">
                    <div class="form-group guildname my-1">
                        <input class="form-control" name="oldpassword" type="password" placeholder="Senha atual">
                    </div>
                    <div class="form-group guildname my-1">
                        <input class="form-control" name="password" type="password" placeholder="Nova senha">
                    </div>
                    <div class="form-group guildname my-1">
                        <input class="form-control" name="password_confirm" type="password" placeholder="Confirmar nova senha">
                    </div>
                    <input type="hidden" class="g-recaptcha-response" name="g-recaptcha-response">
                    <input type="hidden" name="action" value="validate_captcha">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Alterar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>