<div class="col-md-8 grid-margin stretch-card home">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between border-bottom">
                Seja bem-vindo ao painel de controle <%= user.name.charAt(0).toUpperCase() + user.name.slice(1) %>
            </div>
            <div class="d-flex flex-row justify-content-between">
            </div>
        </div>
    </div>
</div>