<div class="col-md-8 grid-margin stretch-card ranking-cities">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between border-bottom">
                Ranking de Cidades
            </div>
            <div class="d-flex flex-row justify-content-center my-2 text-center">
                <table class="table table-dark table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Armia</th>
                            <th>Azran</th>
                            <th>Erion</th>
                            <th>Nippleheim</th>
                            <th>Noatun</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Nick</td>
                            <td>Level</td>
                            <td>Classe</td>
                            <td>Player Kill</td>
                            <td>Evolução</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>