<div class="login-wrapper">
    <div class="d-flex justify-content-center mt-5">
        <div class="card" id="forget-card">
            <div class="col-md-6 mx-auto">
                <div class="card-body logo text-center">
                    <h3>
                        <img class="w-50" src="public/assets/images/brand.png" alt="">
                    </h3>
                </div>
                <%- include('../../partials/messages.ejs'); %>
                <div class="card-body">
                    <div class="col-md-12 text-center mb-4">
                        404 - Página inexistente!
                    </div>
                    <div class="col-md-12 text-center">
                        <a class="btn btn-primary py-3 px-4" href="/">
                            Voltar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>