<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Spirit Destiny</title>
<link rel="stylesheet" href="/public/assets/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/public/assets/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="/public/assets/vendors/jvectormap/jquery-jvectormap.css">
<link rel="stylesheet" href="/public/assets/vendors/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="/public/assets/vendors/owl-carousel-2/owl.carousel.min.css">
<link rel="stylesheet" href="/public/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
<link rel="stylesheet" href="/public/assets/css/style.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="shortcut icon" href="/public/assets/images/brand.png" />
<script src="https://www.google.com/recaptcha/api.js?render=<%= recaptcha_site %>"></script>