<% const messages = getMessages() %>
<% if (messages.success) { %>
    <% messages.success.forEach(message => { %>
        <div class="card-body message h6 text-center">
            <div class="alert alert-success">
                <%= message.message %>
            </div>
        </div>
    <% }); %>
<% } %>
<% if (messages.error) { %>
    <% messages.error.forEach(message => { %>
        <% if (typeof message.message === 'string') { %>
            <div class="card-body message h6 text-center">
                <div class="alert alert-danger">
                    <%= message.message %>
                </div>
            </div>
        <% } else if (typeof message.message === 'object') { %>
            <% message.message.forEach((msg) => { %>
                <div class="card-body message h6 text-center">
                    <div class="alert alert-danger">
                        <%= msg.message %>
                    </div>
                </div>
            <% }) %>
        <% } %>
    <% }) %>
<% } %>
<div style="display: none;" class="card-body message-ajax h6 text-center">
</div>